[submodule "MyCV"]
	path = MyCV
	url = https://github.com/DavidPK8/MyCV.git
[submodule "PhotoGallery"]
	path = PhotoGallery
	url = https://github.com/DavidPK8/PhotoGallery.git
[submodule "FireBaseUbicacion"]
	path = FireBaseUbicacion
	url = https://github.com/DavidPK8/FireBaseUbicacion.git
[submodule "devdac"]
	path = devdac
	url = https://github.com/DavidPK8/devdac.git
[submodule "ArchivosFireBase"]
	path = ArchivosFireBase
	url = https://github.com/DavidPK8/ArchivosFireBase.git
